@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

/*產生緩慢滑動效果*/
html {
  scroll-behavior: smooth;
}

hr {
  background: rgba(250, 220, 255, 0.875);
}

p {
  padding-left: 2rem;
  margin-left: 2rem;
}

h2 {
  color: rgb(25, 45, 100);
}

/*回到頂層的button*/
/*網頁的最上方*/
header {
  background: #872887;
  padding: 1.25rem;
}

.author_name {
  padding: 0.25rem;
  color: white;
  font-size: 1.5rem;
}

.quote {
  color: #afc3f5;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  letter-spacing: 0.25px;
  font-style: italic;
  padding-left: 1.5rem;
}

/* nav 調整*/
.container_nav {
  background: #004187;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 3px -1.5px #057373;
  box-shadow: 0 3px 3px -1.5px #057373;
  z-index: 5;
  transition: all 0.75s ease;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

nav ul li {
  padding: 0.5rem 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #d2d2d2;
  display: inline-block;
}

nav ul li a:hover {
  color: white;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.active {
  color: white;
}

/*介紹自己的部分*/
.introduce {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*介紹左右半部*/
section.left,
section.right {
  padding: 2rem;
}

/*介紹左半部*/
section.left {
  width: 45%;
}

/*介紹右半部*/
section.right {
  width: 55%;
}

/*about me*/
/*圓形圖框，浮出效果*/
div.img_container_cir {
  overflow: hidden;
  width: 25.5vw;
  height: 25.5vw;
  border-radius: 50%;
}
/*方形圖框，浮出效果*/
div.img_container_rect {
  overflow: hidden;
  width: 23.5vw;
  height: 23.5vw;
  border-radius: 23.5%;
}
.img {
  width: 25.5vw;
  height: 25.5vw;
  display: block;
  border-radius: 50%;
  transition: all 0.75s ease-out;
}
img:hover {
  transform: scale(1.25);
}

#brief_intro {
  font-size: 1.25rem;
}

/*介紹文字的顏色*/
.intro_color {
  color: #fa780f;
  font-style: bold;
}

/*education*/
.enfont_style {
  color: #aa0f82;
  list-style-type: none;
  font-family: italic;
  font-size: 1.25rem;
}

/*scroll bar*/
/* scroll bar width */
::-webkit-scrollbar {
  width: 12px;
}

/* scroll bar Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* scroll bar Handle */
::-webkit-scrollbar-thumb {
  background: #78a0b7;
  border-radius: 2.5px;
}

/* scroll bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f7d87;
}

/*itsa照片設定*/
#itsa_pic {
  display: inline-block;
  width: 23.5vw;
  height: 25.5vw;
  transition: all 0.55s ease-out;
}
/*bestpaper2021照片設定*/
#bestpaper2021 {
  display: inline-block;
  width: 23.5vw;
  height: 23.5vw;
  transition: all 0.35s ease-out;
}

/*技能圖像的css*/

.list-icons {
  font-size: 5rem;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-name {
  position: relative;
  float: left;
  text-align: center;
  font-size: 3.5vh;
  margin: 25.5px;
}
.devicons {
  font-family: devicons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RWD設計 */
@media only screen and (max-width: 475px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  * {
    font-size: 0.25rem;
  }
}
/*# sourceMappingURL=style.css.map */

.classred {
  background-color: red;
}
